<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flor^3</title>
    <link rel="shortcut icon" href="./public/images/logo_superior.png" type="image/x-icon">
    <link href="./public/css/consulta.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="general">
        <section id="content">
            <aside>
                <img src="./public/images/usuario_monalisa.jpg" class="mx-auto foto_usuario" alt="Foto del usuario"> 
                <div class="info_usuario">
                    <h1>NOMBRE DEL USUARIO</h1></br>
                </div>
                <img src="./public/images/Sully.jpeg" class="mx-auto publicidad" alt="publicidad engañosa">
                <button class="text-white bg-green-900 hover:bg-green-700 py-2 px-4 rounded mb-10 historial">
                HISTORIAL
                </button></br>
                <button class="cerrar">
                    CERRAR SESION
                </button>
            </aside>
        </section>
        <section id="consulta">
           <img src="./public/images/logo_superior.png" class="mx-auto logo" alt="logo">
           <p class="seleccion"><strong>Selecciona la temporada</p></br>
           <select name="temporada">
            <option value="PRIMAVERA" selected>PRIMAVERA</option>
            <option value="VERANO">VERANO</option>
            <option value="OTOÑO">OTOÑO</option>
            <option value="INVIERNO">INVIERNO</option>
          </select>
        </br><button class="text-white bg-green-900 hover:bg-green-700 py-2 px-4 rounded mb-10 CONSULTAR">
            CONSULTAR
            </button></br>
        </section>
    </div>
</body>
</html>