doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Flores
        link(rel="shortcut icon", href="/logos/flor.png", type="image/x-icon")
        link(rel="stylesheet", href="/css/flores.css")
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
    body
        div
            div(class="p-8 text-8xl text-white text-center")
                h1 Flores de Temporada
            div(class="container-flower ml-6 mt-4 mb-4 mr-6 grid grid-cols-10 gap-4 p-3 rounded-md shadow-2xl")
                div(class="md:col-span-2 flex items-center")
                    img(src="/images/girasol.jpeg", alt="Girasol.jpg" class="rounded-md") 
                div(class="md:col-span-6 flex flex-col justify-center") 
                    div(class="text-4xl text-white ml-3 text-flowers") 
                        span Girasol
                    div(class="bg-blue-300 m-2 p-2 text-justify rounded-md") 
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                div(class="md:col-span-2 grid grid-cols-2 grid-rows-2 gap-2") 
                    button(class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded text-3xl") +
                    button(class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded text-3xl") -
                    div(class="col-span-2 bg-blue-500 flex items-center justify-center rounded text-2xl text-white") 
                        span Cantidad: 3

            div(class="container-flower ml-6 mt-4 mb-4 mr-6 grid grid-cols-10 gap-4 p-3 rounded-md shadow-2xl")
                div(class="md:col-span-2 flex items-center")
                    img(src="/images/cempasuchitl.jpg", alt="Cempasuchitl.jpg" class="rounded-md")
                div(class="md:col-span-6 flex flex-col justify-center")  
                    div(class="text-4xl text-white ml-3 text-flowers") 
                        span Cempasúchil
                    div(class="bg-blue-300 m-2 p-2 text-justify rounded-md") 
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                div(class="md:col-span-2 grid grid-cols-2 grid-rows-2 gap-2")  
                    button(class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded text-3xl") +
                    button(class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded text-3xl") -
                    div(class="col-span-2 bg-blue-500 flex items-center justify-center rounded text-2xl text-white") 
                        span Cantidad: 3

            div(class="container-flower ml-6 mt-4 mb-4 mr-6 grid grid-cols-10 gap-4 p-3 rounded-md shadow-2xl")
                div(class="md:col-span-2 flex items-center")
                    img(src="/images/margarita.jpg", alt="Margarita.jpg" class="rounded-md")
                div(class="md:col-span-6 flex flex-col justify-center")  
                    div(class="text-4xl text-white ml-3 text-flowers") 
                        span Margarita
                    div(class="bg-blue-300 m-2 p-2 text-justify rounded-md") 
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                div(class="md:col-span-2 grid grid-cols-2 grid-rows-2 gap-2")  
                    button(class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded text-3xl") +
                    button(class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded text-3xl") -
                    div(class="col-span-2 bg-blue-500 flex items-center justify-center rounded text-2xl text-white") 
                        span Cantidad: 3

            div(class="container-flower ml-6 mt-4 mb-4 mr-6 grid grid-cols-10 gap-4 p-3 rounded-md shadow-2xl") 
                div(class="md:col-span-2 flex items-center") 
                    img(src="/images/rosa.jpg", alt="Rosa.jpg" class="rounded-md")
                div(class="md:col-span-6 flex flex-col justify-center")  
                    div(class="text-4xl text-white ml-3 text-flowers") 
                        span Rosa
                    div(class="bg-blue-300 m-2 p-2 text-justify rounded-md") 
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                div(class="md:col-span-2 grid grid-cols-2 grid-rows-2 gap-2")  
                    button(class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded text-3xl") +
                    button(class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded text-3xl") -
                    div(class="col-span-2 bg-blue-500 flex items-center justify-center rounded text-2xl text-white") 
                        span Cantidad: 3