<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/historial.css" rel="stylesheet">
    <link rel="shortcut icon" href="/logos/flor.png" type="image/x-icon">
    <title>Flor^3</title>
</head>
<body>
    <div>
        <div class="fondo">
            <table class="historial">
                <tr class="encabezado">
                    <td>FLOR</td>
                    <td>CANTIDAD</td>
                    <td>PRECIO</td>
                    <td>FECHA</td>
                </tr>
                <tr>
                    <td>MARGARITA</td>
                    <td>3</td>
                    <td>45</td>
                    <td>11-09-2021</td>
                </tr>
                <TR>
                    <td>CEMPASUCHIL</td>
                    <td>2</td>
                    <td>30</td>
                    <td>11-09-2021</td>
                </TR>
            </table>
            <a href="/consulta">
                <button>REGRESAR USUARIO</button>
            </a>
        </div>
    </div>
</body>
</html>